<div class="span12">
    {{#data}}
        <div class="details">
            <h4 class="title">{{title}}</h4>
            <img src="{{url thumbnail}}">

            <div class="description">{{description}}</div>
        </div>
    {{/data}}
</div>